<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="allowInsecureConnections" value="true" />
  </config>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="Local" value="https://baget.jisa.co.in/v3/index.json" />
  </packageSources>
</configuration>